*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Gantari", sans-serif;
    overflow-x: hidden;
    background: #f1f1f1;
}

#cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;   
    margin:0 auto; 
}

.global-cursor {
    z-index: 99999;
    position: relative;
}

.cursor-overlay{
        z-index: 9;
        /*justify-content: center;
        align-items: center;*/
        width: 100vw;
        height: 100vh;
        display: flex;
        position: fixed;
        pointer-events: none;
}

.mw-100{max-width: 100%;}

.banner
{
    position: relative;
    width: 100%;
    height: auto;
    background: url(images/banner.jpg) no-repeat center top;
    padding: 0 0 100px 0;
    background-size: cover;
    font-weight: bold;
    color: #fff; overflow-x: hidden;
}

.banner a{
    color: #fff;
}

.banner marquee{
    font-size: 90px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
}

nav i{
    font-size: 30px;
    font-weight: 800;
}

nav .logo{
    font-size: 30px;
}

h1, h2, h3, h4{
    font-family: "Syne", sans-serif;
}

h1{
    font-size: 70px;
}

h2{
    font-size: 64px;
}

h3{
    font-size: 40px;
}

h4{
    font-size: 50px;
    text-transform: uppercase;
    margin: 50px 0;
    line-height: 40px;
}

h4 span{
    font-size: 24px;
}

h5{
    font-size: 24px;
}

.mt-0{
    margin-top: 0;
}

.green-button{
    background: #A8FF35;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: #111922;
    margin-right: 15px;
}

.about-graphic-image{ position: absolute; top: 0;}

.spacing{
    margin: 50px 0;
}

section.about{
    position: relative;
    display: flex;
    align-items: center;
    min-height: 800px;
    overflow-x:hidden;
}

.item-center{
    align-items: center;
}

.nav{
    position: absolute;
    width: 100%;
    height: 100%;
    background: hsl(0deg 0% 100% / 100%);
    top: 0;
    right: 0;
    color: #111;
    backdrop-filter: blur(10px);
    padding: 200px 50px;
    z-index: 9;
    right: -100%;
}

.nav i {
    position: absolute;
    top: 5%;
    right: 5%;
}

.nav h4{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.container{
    margin: 0 auto;
}

.rotator-wrapper{
    display: flex
;
    overflow-x: hidden;
}

.rotator-wrapper + .rotator-wrapper{
    margin-top: 200px;
}

.marque{
    display: flex;
    align-items: center;
    gap: 3vw;
    flex-shrink: 0;
    padding: 0 1vw;
    font-size: 70px;
    transform: translateX(-100%)
}

.marque h1{
    font-family: "Gantari", sans-serif;
    font-weight: bold;
    font-size: 90px;
    text-transform: uppercase;
}

.marque.from-left{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    color: rgba(0, 0, 0, 0);
}

.flex{
    display: flex;
}

/*.col-lg-4, .col-md-4{
    width: 33%;
    padding: 0 15px;
}

.col-lg-8, .col-md-8{
    width: 66%;
    padding: 0 15px;
}

.col-lg-6{
    width: 50%;
    padding: 0 15px;
}

.col-md-7{
    width: 58%;
    padding: 0 15px;
}*/

.space-between{
    justify-content: space-between;
}

section.experience h1{
    font-size: 35vw;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
    padding: 5% 0;
}

section.experience{
    position: relative;
    overflow: hidden;
    background: #111;
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.experience-content, section.projects{
    padding: 100px 0;
}

section.projects{
    position: relative;
    overflow: hidden;
    width:100%;
    height: 100vh;
    display: flex;
    max-height: 100vh;
}

.contact-banner{
    position:  relative;
    width:  100%;
    height:  auto;
    background: url('images/contact-us-banner.jpg') no-repeat center;
    padding:  100px 0;
    background-size: cover;
    color: #fff;
}

.text-center{
    text-align: center;
}

.form-control{
width: 100%;
height: 50px;
background: #FFFFFF;
border-radius: 12px;
}

textarea.form-control{
width: 100%;
height: 250px;
background: #FFFFFF;
border-radius: 12px;
}

.mt-5{
    margin-top: 20px;
}

.col-md-6, .left-right-space{
    padding: 0 15px;
}

form label{
    margin-bottom: 10px;
    display: block;
}

.contact-vector{
    position: absolute;
    right: 0;
    top: 0;
}

.contact-vector, .contact-vector img, .about-graphic-image, .about-graphic-image img{
    height: 100px;
}

.submit-button{
    text-align: center;
    margin-top: 30px;
    
}

.submit-insider{
width: 180px;
height: 57px;
background: #A8FF35;
box-shadow: 0px 0px 25px rgba(168, 255, 53, 0.25);
border-radius: 40px; font-weight: bold;
font-size: 18px; text-transform: uppercase; font-family: "Gantari", sans-serif;
}

.projects-right{
    transform: translateY(-83%);
}

.projects-right-wrapper{
    transform: translate(0px, 0px) !important; 
}

@media (min-width: 576px){
    .container{
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .container{
        max-width: 720px;
    }
    .for-mobile{
        display: none;
    }
}

@media (min-width: 992px){
    section.experience{
        height: 500px;
    }
    .container{
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    section.experience{
        height: 550px;
    }
}

@media (min-width: 1440px){
    .container{
        max-width: 1320px;
    }
    section.experience{
        height: 100vh;
    }
}

@media(max-width: 767px){

    h1{
        font-size: 40px;
    }
    
    h2{
        font-size: 34px;
    }
    
    h3{
        font-size: 20px;
    }
    
    h4{
        font-size: 18px;
        text-transform: uppercase;
        margin: 50px 0;
        line-height: 40px;
    }
    
    h4 span{
        font-size: 14px;
        display: block;
    }
    
    h5{
        font-size: 15px;
    }    

    .flex{
        display: block;
    }
    .col-md-8, .col-lg-4, .col-md-4{
        width: 100%;
    }
    .for-desktop{
        display: none !important;
    }
}